# Node modules & builds
node_modules
dist
dist-ssr

# Environment files
.env
.env.*
!.env.example

# WhatsApp Web Session & Cache
.wwebjs_auth
.wwebjs_cache
.cache
*.sqlite
*.sqlite-journal
session

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode
.idea
.DS_Store
